* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
    background: #ebe7e7;
    background: linear-gradient(to top, rgba(241, 239, 239, 0.5rgba(252, 249, 249, 0.5), 0.5)50%), url(background.webp);
}

.logo {
    color: rgb(22, 166, 250);
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 0px;
    padding-top: 60px;
    margin-top: 0px;
    text-align: center;
}

.aboutme {
    font-size: 30px;
    color: rgb(22, 166, 250);
    margin: 0px;
    padding: 100px;
}

.space {
    line-height: 70px;
    background-color: rgb(206, 206, 219);
    border-radius: 8px;
    opacity: 0.8;
}