* {
    margin: 0;
    padding: 0;
}

.logo {
    color: #fcb900;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 0px;
    padding-top: 60px;
    margin-top: 0px;
    text-align: center;
}

.aboutme {
    font-size: 30px;
    color: #ffffff;
    margin: 0px;
    padding: 100px;
}


.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(web.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.space {
    line-height: 40px;
}