@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background: linear-gradient(90deg, rgb(245, 245, 245), rgb(255, 255, 255));
}

html {
    scroll-behavior: smooth;
}

.content {
    max-width: 1920px;
    margin: auto;
    padding: 0px 60px;
}

.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100px;
    padding: 15px 0;
    transition: all 0.4s ease;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.navbar .content {
    display: flex;
    align-items: center;
    float: right;
    justify-content: space-between;
}

.navbar .menu {
    display: inline-flex;
}

.menu li {
    list-style: none;
}

/*Menu*/
.menu li a {
    position: relative;
    right: 100px;
    top: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.menu li a:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/*  Icon-top right corner  */
.icon {
    color: rgb(117, 117, 117);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

/*  Responsive Navbar  */
@media (max-width: 868px) {
    body.disabledScroll {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background-color: rgba(221, 221, 221, 0.8);
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.4 ease;
    }

    .navbar .menu.active {
        left: 0%;
    }

    .navbar .menu li {
        margin-top: 45px;
    }

    .navbar .menu li a {
        font-size: 23px;
    }
}

/*  Main Content  */

.web-developer-title {
    font-size: 25px;
    font-weight: 800;
    position: relative;
    top: 28vh;
    text-align: center;
    display: block;
    margin: auto;
    right: 350px;
}

.banner {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img {
    position: relative;
    top: 30vh;
    right: 400px;
    display: block;
    margin: auto;
    border-radius: 600px;
    border-color: #ffffff;
    flex-wrap: wrap;
    border: 2px solid rgb(0, 0, 0);
    float: right;
    width: 400px;
    box-shadow: 10px 10px 15px;
}

.cn {
    position: relative;
    top: -290px;
    right: 610px;
    background: #000000;
    border: none;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: .4s ease;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

.cn a {
    text-decoration: none;
    color: #ffffff;
    transition: .3s ease;
}

.cn:hover {
    color: #000000;
    transform: scale(1.12);
    font-family: color black;
}

.cn2 {
    position: relative;
    top: -290px;
    right: 365px;
    background: #000000;
    border: none;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: .4s ease;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

.cn2 a {
    text-decoration: none;
    color: #ffffff;
    transition: .3s ease;
}

.cn2:hover {
    color: #000000;
    transform: scale(1.12);
    font-family: color black;
}

.icons-media {
    position: relative;
    top: -220px;
    right: 179px;
    text-align: right;
    letter-spacing: 20px;
}

.icons-media a {
    text-decoration: none;
}

.icons-media .ion-icon {
    font-size: 30px;
    transition: 0.3s ease;
}

.ion-icon:hover {
    color: #000000;
    transform: scale(1.2);
}

#facebook-icon {
    background: #ffffff;
    padding: 15px;
    border-radius: 20%;
    border: rgb(233, 233, 233) solid 1px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#linkedin-icon {
    background: #ffffff;
    padding: 15px;
    border-radius: 20%;
    border: rgb(233, 233, 233) solid 1px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#instagram-icon {
    background: #ffffff;
    padding: 15px;
    border-radius: 20%;
    border: rgb(233, 233, 233) solid 1px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#google-icon {
    background: #ffffff;
    padding: 15px;
    border-radius: 20%;
    border: rgb(233, 233, 233) solid 1px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#github-icon {
    background: #ffffff;
    padding: 15px;
    border-radius: 20%;
    border: rgb(233, 233, 233) solid 1px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

/*  Content  */

/*  .welcome {
    display: flex;
    position: relative;
    color: rgb(92, 92, 92);
    font-size: 22px;
    font-weight: 600;
    top: -720px;
    right: 507px;
    justify-content: center;
}
*/

.article-1 {
    display: flex;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    top: -650px;
    right: 390px;
    justify-content: center;
}

/*.tag-list {
    display: flex;
    position: relative;
    font-size: 40px;
    letter-spacing: 18px;
    top: -600px;
    text-shadow: 10px 10px 10px rgb(154, 154, 180);
    margin: 0;
    padding-inline: 0;
    list-style: none;
 
}
*/


/*  ANIMATION PROGRAMMING ICONS  */
.tag-list {
    display: flex;
    position: relative;
    margin: 0;
    padding-inline: 0;
    list-style: none;
    font-size: 40px;
}

.tag-list li {
    padding: 1rem;
    background: rgb(187, 187, 187);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem rgb(92, 92, 92);
}

.responsive-icons {
    display: flex;
    position: relative;
    color: rgb(109, 109, 109);
    right: 397px;
    justify-content: center;
}

.scroller {
    max-width: 300px;
    display: flex;
    position: relative;
    top: -760px;
    text-shadow: 10px 10px 10px rgb(154, 154, 180);
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;

    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated=true] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation:
        scroll var(--_animation-duration, 40s)
        /*  var(--_animation-direction, foward)  */
        linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.test {
    background: red !important;
}

@media (max-width: 1300px) {
    body.disabledScroll {
        overflow: hidden;
    }

    .img {
        position: fixed;
        top: 55vh;
        border-radius: 400px;
        border-color: 3px solid rgb(0, 0, 0);
        margin: auto;
        display: block;
        height: 220px;
        width: 300px;
        left: 50%;
        margin-top: -100px;
        margin-left: -150px;
    }

    .web-developer-title {
        font-size: 15px;
        font-weight: 800;
        top: 28vh;
        text-align: center;
        display: block;
        height: 200px;
        width: 400px;
        position: fixed;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
    }

    .cn {
        background: #000000;
        border: none;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        transition: .4s ease;
        padding-top: 10px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        top: 85vh;
        text-align: center;
        display: block;
        height: 50px;
        width: 100px;
        position: fixed;
        left: 50%;
        margin-top: -100px;
        margin-left: -110px;
    }

    .cn2 {
        background: #000000;
        border: none;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        transition: .4s ease;
        padding-top: 10px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        top: 85vh;
        text-align: center;
        display: block;
        height: 50px;
        width: 100px;
        position: fixed;
        left: 50%;
        margin-top: -100px;
        margin-left: 10px;
    }

    .icons-media {
        position: fixed;
        top: 95vh;
        text-align: center;
        display: block;
        height: 200px;
        width: 400px;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
        letter-spacing: 10px;
    }

    .icons-media ion-icon {
        padding-left: 10px;
        padding-right: 10px;
        transition: 0.3s ease;
    }

    #facebook-icon {
        background: #ffffff;
        padding: 15px;
        width: 55px;
        border-radius: 20%;
        border: rgb(233, 233, 233) solid 1px;
        box-shadow: 5px 5px 5px rgb(0, 0, 0);
    }

    #linkedin-icon {
        background: #ffffff;
        padding: 15px;
        width: 55px;
        border-radius: 20%;
        border: rgb(233, 233, 233) solid 1px;
        box-shadow: 5px 5px 5px rgb(0, 0, 0);
    }

    #instagram-icon {
        background: #ffffff;
        padding: 15px;
        width: 55px;
        border-radius: 20%;
        border: rgb(233, 233, 233) solid 1px;
        box-shadow: 5px 5px 5px rgb(0, 0, 0);
    }

    #google-icon {
        background: #ffffff;
        padding: 15px;
        width: 55px;
        border-radius: 20%;
        border: rgb(233, 233, 233) solid 1px;
        box-shadow: 5px 5px 5px rgb(0, 0, 0);
    }

    #github-icon {
        background: #ffffff;
        padding: 15px;
        width: 55px;
        border-radius: 20%;
        border: rgb(233, 233, 233) solid 1px;
        box-shadow: 5px 5px 5px rgb(0, 0, 0);
    }

    .article-1 {
        color: rgb(109, 109, 109);
        font-size: 12px;
        font-weight: 600;
        top: 45vh;
        text-align: center;
        display: block;
        height: 200px;
        width: 400px;
        position: fixed;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
    }

    .tag-list {
        display: flex;
        position: relative;
        margin: 0;
        padding-inline: 0;
        list-style: none;
        font-size: 20px;
    }

    .scroller {
        max-width: 200px;
        display: block;
        left: 100px;
        position: relative;
        top: -620px;
        text-shadow: 10px 10px 10px rgb(154, 154, 180);
        margin: 0;
        padding-inline: 0;
        list-style: none;

    }

    .responsive-icons {
        display: block;
        position: fixed;
        color: rgb(109, 109, 109);
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
    }
}

/*  Projects  */
.title2 {
    font-size: 30px;
    font-weight: 800;
    position: relative;
    top: -10vh;
    text-align: center;
    display: block;
    margin: auto;
    right: 470px;
}

.calculator-img {
    font-size: 30px;
    width: 200px;
    font-weight: 800;
    position: relative;
    top: 0vh;
    text-align: center;
    display: block;
    margin: auto;
    right: 300px;
}

/* color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 800;
    position: relative;
    right: 400px;
    min-width: 1420px;
    top: 25vh;
    display: block;
    margin: auto;
    text-align: center;
    word-break: break-all;
    background: rgb(0, 0, 0);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */